header, body {
    font-family: 'Roboto Mono',monospace;
    background-color: #141414;
    background-size: 100vh;
    padding: 20px;
    color:#ffffff;
}

.page-title, .page-subtitle, .page-logo{
    margin: 0 0 5px;
    text-align: center;
}

.page-logo {
  width: 200px;
  display:block;
  margin:auto;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
 
.calculator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    padding-top: 24px;
}

.grades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 300px;
}

.grades input {
    -webkit-appearance: textfield;
    transition: 0.3s ease;
    font-family: 'Roboto Mono',monospace;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    margin-top: 16px;
    border: none;
}

.grades input:focus-visible {
    transition: 0.3s;
    outline: none;
    box-shadow: 6px 6px #fada06;
}

.final{
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    justify-content: flex-start;
    margin: 0px;
}

button {
    transition: 0.3s ease;
    background-color: #fada06;
    width: 160px;
    padding: 8px;
    border: none;
    font-family: 'Roboto Mono',monospace;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

button:hover{
    transition: 0.3s ease;
    box-shadow: 6px 6px #ffffff;
    cursor:pointer;
}

button:active, :focus-visible{
    transition: 0.3s ease;
    box-shadow: none;
    cursor:pointer;
}