header, body {
    font-family: 'Roboto Mono',monospace;
    background-color: #141414;
    background-size: 100vh;
    padding: 1.25rem;
    color:#ffffff;
}

.page-title, .page-subtitle, .page-logo{
    margin: 0 0 0.3125rem;
    text-align: center;
}

.page-logo {
  width: 12.5rem;
  display:block;
  margin:auto;
}

.alura-logo {
    width: 2.5rem;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}
 
.calculator {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    padding-top: 3rem;
}

.grades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 18.75rem;
}

.grades input {
    -webkit-appearance: textfield;
    font-family: 'Roboto Mono',monospace;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
}

.grades input:focus-visible {
    outline: none;
    box-shadow: 0.375rem 0.375rem #fada06;
}

.result{
    font-size: 1.5rem;
    font-weight: 600;
}